{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
    <script defer type="text/javascript" src='{% static "/JS/table_js.js" %}'> </script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="filter_box">
            <form action="#">
                <div class="order_title">
                    <span class="title_text">Производитель</span>
                </div>
                <div class="filter_unit">
                <ul class="filter_list ">
                    {% for item in maker %}
                    <li class="container">
                        <div class="checkbox">
                            <input type="checkbox" name="" value="">
                        </div>
                        <div class="filter_unit_text">
                            <span> {{ item.maker_name }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
                <input type="submit">
            </form>
        </div>
        <div class="view_box">
            <div class="seacrh">
                <input type="text" class="search__input" id="search" onkeyup="tableSearch()" >
            </div>
            <div class="scroll-table">
                <table>

                </table>
                <div class="scroll-table-body">
                    <table id="table">
                        <thead>
                            <tr>
                                <th>Производитель</th>
                                {% for item in fields_name %}

                                <th>{{ item }}</th>

                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in join_table %}
                            <tr>
                                {% for unit in item %}
                                    <td>{{ unit }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>